<!DOCTYPE html>
<html>
  <head>
    <title>BenchBnB</title>
    <%= csp_meta_tag %>
    
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDsuyPZmHGaaYNGhhF7CBGwQVs1d960IT8"
    %> 
    <%= stylesheet_link_tag 'application', media: 'all' %> <%= csrf_meta_tags
    %> <%= javascript_include_tag 'application' %>
   
    <script src="/assets/jquery.self-bd7ddd393353a8d2480a622e80342adf488fb6006d667e8b42e4c0073393abee.js?body=1" data-turbolinks-track="reload"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>


    